<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teste do MVC com webpack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TesteWebPackMvc.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
            @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/dist/bundle.js" defer></script>
</body>
</html>
