@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Política de Privacidade do serviço POC - Asp.Net MVC Core com Typescript
    Para receber informações sobre os seus dados pessoais, os propósitos e as partes de informação que são compartilhadas, entre em contato com o Proprietário.

    Proprietário e Controlador de Dados
    Rua da Financeira, SN - São Paulo

    E-mail de contato do Proprietário: teste@teste.com.br

    Tipos de Dados coletados
    Uso de Dados e outros dados coletados

    Detalhes completos sobre cada tipo de Dados Pessoais coletados são fornecidos nas seções dedicadas desta política de privacidade ou por textos explicativos específicos exibidos antes da coleta de Dados.
    Os Dados Pessoais poderão ser fornecidos livremente pelo Usuário, ou, no caso dos Dados de Utilização, coletados automaticamente ao se utilizar este Aplicativo.
    A menos que especificado diferentemente todos os Dados solicitados por este Aplicativo são obrigatórios e a falta de fornecimento destes Dados poderá impossibilitar este Aplicativo de fornecer os seus Serviços. Nos casos em que este Aplicativo afirmar especificamente que alguns Dados não forem obrigatórios, os Usuários ficam livres para deixarem de comunicar estes Dados sem nenhuma consequência para a disponibilidade ou o funcionamento do Serviço.
    Os Usuários que tiverem dúvidas a respeito de quais Dados Pessoais são obrigatórios estão convidados a entrar em contato com o Proprietário.
    Quaisquer usos de cookies – ou de outras ferramentas de rastreamento – por este Aplicativo ou pelos proprietários de serviços terceiros utilizados por este Aplicativo serão para a finalidade de fornecer os Serviços solicitados pelo Usuário, além das demais finalidades descritas no presente documento.

    Os Usuários ficam responsáveis por quaisquer Dados Pessoais de terceiros que forem obtidos, publicados ou compartilhados através deste Serviço (este Aplicativo).

    Modo e local de processamento dos Dados
    Método de processamento
    O Proprietário tomará as medidas de segurança adequadas para impedir o acesso não autorizado, divulgação, alteração ou destruição não autorizada dos Dados.
    O processamento dos Dados é realizado utilizando computadores e /ou ferramentas de TI habilitadas, seguindo procedimentos organizacionais e meios estritamente relacionados com os fins indicados. Além do Proprietário, em alguns casos, os Dados podem ser acessados por certos tipos de pessoas encarregadas, envolvidas com a operação deste Serviço (este Aplicativo) (administração, vendas, marketing, administração legal do sistema) ou pessoas externas (como fornecedores terceirizados de serviços técnicos, carteiros, provedores de hospedagem, empresas de TI, agências de comunicação) nomeadas, quando necessário, como Processadores de Dados por parte do Proprietário. A lista atualizada destas partes pode ser solicitada ao Proprietário a qualquer momento.

    Lugar
    Os dados são processados ​​nas sedes de operação dos Proprietários, e em quaisquer outros lugares onde as partes envolvidas com o processamento estiverem localizadas.
    Dependendo da localização do Usuário as transferências de dados poderão envolver a transferência dos Dados do Usuário para outro país que não seja o seu. Para descobrirem mais sobre o local de processamento de tais Dados transferidos os Usuários poderão verificar a seção contendo os detalhes sobre o processamento de Dados Pessoais.

    Período de conservação
    Salvo especificação em contrário neste documento, os Dados Pessoais serão tratados e armazenados pelo tempo necessário para as finalidades para as quais foram coletados, e poderão ser retidos por mais tempo em razão de qualquer obrigação legal aplicável ou com base no consentimento dos Usuários.

    Informações adicionais para usuários
    Base jurídica para o processamento
    O Proprietário poderá processar os Dados Pessoais relacionados ao Usuário se uma das hipóteses a seguir se aplicar:

    os Usuários tenham dado a sua anuência para uma ou mais finalidades específicas; Observação: De acordo com algumas legislações o Proprietário poderá ter a permissão para processar os Dados Pessoais ATÉ QUE O Usuário faça objeção a isto (“opt-out”), sem ter que se basear em anuência ou em quaisquer outras bases jurídicas a seguir. Isto contudo não se aplica sempre que o processamento de Dados Pessoais estiver sujeito à legislação europeia de proteção de dados;
    o fornecimento dos Dados for necessário para o cumprimento de um contrato com o Usuário e/ou quaisquer obrigações pré-contratuais do mesmo;
    o processamento for necessário para o cumprimento de uma obrigação jurídica à qual o Proprietário estiver sujeito;
    o processamento estiver relacionado a uma tarefa que for executada no interesse público ou no exercício de uma autorização oficial na qual o Proprietário estiver investido;
    o processamento for necessário para a finalidade de interesses legítimos perseguidos pelo Proprietário ou por um terceiro;
    Em qualquer caso, o Proprietário colaborará de bom grado para esclarecer qual a base jurídica que se aplica ao processamento, e em especial se o fornecimento de Dados for um requisito obrigatório por força de lei ou contratual, ou uma exigência necessária para celebrar um contrato.

    Mais informações sobre o tempo de retenção
    Salvo especificação em contrário neste documento, os Dados Pessoais serão tratados e armazenados pelo tempo necessário para as finalidades para as quais foram coletados, e poderão ser retidos por mais tempo em razão de qualquer obrigação legal aplicável ou com base no consentimento dos Usuários.

    Portanto:

    Os Dados Pessoais coletados para as finalidades relacionadas com a execução de um contrato entre o Proprietário e o Usuário serão conservados até que tal contrato tenha sido completamente cumprido.
    Os Dados Pessoais coletados para as finalidades relacionadas com os legítimos interesses do Proprietário serão conservados pelo tempo que for necessário para cumprir tais finalidades. Os Usuários poderão obter informações específicas sobre os interesses legítimos perseguidos pelo Proprietário dentro das seções pertinentes deste documento ou entrando em contato com o Proprietário.
    O Proprietário poderá ter a permissão de conservar os Dados Pessoais por um prazo maior sempre que o Usuário tiver dado a sua autorização para tal processamento, enquanto tal autorização não tiver sido retirada. Além disso, o Proprietário poderá ficar obrigado a conservar os Dados Pessoais por um prazo maior em todas as ocasiões em que estiver obrigado a fazê-lo para o cumprimento de uma obrigação jurídica ou em cumprimento de um mandado de uma autoridade.

    Assim que o prazo de conservação vencer os Dados Pessoais serão apagados. Desta forma o direito de acessar, o direito de apagar, o direito de corrigir e o direito à portabilidade dos dados não poderão ter o seu cumprimento exigido após o vencimento do prazo de conservação.

    Os direitos dos Usuários com base no Regulamento Geral de Proteção de Dados (GDPR)
    Os Usuários poderão exercer determinados direitos a respeito dos seus Dados processados pelo Proprietário.

    Em especial, os Usuários possuem os direitos a fazer o seguinte, dentro dos limites permitidos por lei:

    Retirar a sua anuência a qualquer momento. Os Usuários possuem o direito de retirar a sua anuência nos casos em que tenham dado a sua anuência anteriormente para o processamento dos seus Dados Pessoais.
    Objetar o processamento dos seus Dados. Os Usuários possuem o direito de objetar o processamento dos seus Dados se o processamento for executado sobre outra base jurídica que não a anuência.
    Acessar os seus Dados. Os Usuários possuem o direito de saber se os seus Dados estão sendo tratados pelo Proprietário, obter revelações sobre determinados aspectos do tratamento e conseguir uma cópia dos Dados que estiverem sendo tratados.
    Verificar e pedir retificação. Os Usuários possuem o direito de verificar a exatidão dos seus Dados e de pedir que os mesmos sejam atualizados ou corrigidos.
    Restringir o processamento dos seus Dados. Os Usuários possuem o direito de restringir o processamento dos seus Dados para qualquer outra finalidade que não seja o armazenamento dos mesmos.
    Ter os seus Dados Pessoais apagados ou retirados de outra maneira. Os Usuários possuem o direito de obter a eliminação dos seus Dados do Proprietário.
    Receber os seus Dados e ter os mesmos transferidos para outro controlador. Os Usuários possuem o direito de receber os seus Dados em um formato estruturado, utilizado comumente e apto a ser lido por máquinas e, se for viável tecnicamente, fazer com que estes sejam transmitidos para outro controlador sem nenhum empecilho.
    Registrar uma reclamação. Os Usuários possuem o direito de apresentar reclamação perante a sua autoridade de proteção de dados competente.
    Os Usuários também possuem o direito de serem informados sobre a base jurídica das transferências de Dados para o exterior, incluindo quaisquer organizações internacionais regidas pelo direito internacional público ou formadas por dois ou mais países, como a ONU, e sobre as medidas de segurança tomadas pelo Proprietário para proteger seus Dados.

    Detalhes sobre o direito de objetar ao processamento
    Nos casos em que os Dados Pessoais forem processados por um interesse público, no exercício de uma autorização oficial na qual o Proprietário estiver investido ou para finalidades dos interesses legítimos perseguidos pelo Proprietário, os Usuários poderão objetar tal processamento através do fornecimento de um motivo relacionado com a sua situação em especial para justificar a objeção.

    Os Usuários devem saber, entretanto, que caso os seus Dados Pessoais sejam processados para finalidades de marketing direto, eles podem objetar tal processamento a qualquer momento de forma gratuita e sem fornecer qualquer justificativa. Quando o Usuário se opuser ao processamento para fins de marketing direto, os Dados Pessoais não serão mais processados para esses fins. Para saber se o Proprietário está processando Dados Pessoais para fins de marketing direto, os Usuários podem consultar as seções respectivas deste documento.

    Como exercer estes direitos
    Quaisquer pedidos para exercer os direitos dos Usuários podem ser direcionados ao Proprietário através dos dados de contato fornecidos neste documento. Tais pedidos são gratuitos e serão atendidos pelo Proprietário com a maior brevidade possível e sempre no prazo de um mês, fornecendo aos Usuários as informações exigidas por lei. Qualquer retificação ou exclusão de Dados Pessoais ou restrição de processamento será comunicada pelo Proprietário a cada destinatário, se houver, a quem os Dados Pessoais foram divulgados, a menos que isso seja impossível ou implique um trabalho desproporcional. A pedido dos Usuários, o Proprietário os informará sobre tais destinatários.

    Informações adicionais sobre a coleta e processamento de Dados
    Ação jurídica
    Os Dados Pessoais dos Usuários podem ser utilizados para fins jurídicos pelo Proprietário em juízo ou nas etapas conducentes à possível ação jurídica decorrente de uso indevido deste Serviço (este Aplicativo) ou dos Serviços relacionados.
    O Usuário declara estar ciente de que o Proprietário poderá ser obrigado a revelar os Dados Pessoais mediante solicitação das autoridades governamentais.

    Informações adicionais sobre os Dados Pessoais do Usuário
    Além das informações contidas nesta política de privacidade, este Aplicativo poderá fornecer ao Usuário informações adicionais e contextuais sobre os serviços específicos ou a coleta e processamento de Dados Pessoais mediante solicitação.

    Logs do sistema e manutenção
    Para fins de operação e manutenção, este Aplicativo e quaisquer serviços de terceiros poderão coletar arquivos que gravam a interação com este Aplicativo (logs do sistema) ou usar outros Dados Pessoais (tais como endereço IP) para esta finalidade.

    As informações não contidas nesta política
    Mais detalhes sobre a coleta ou processamento de Dados Pessoais podem ser solicitados ao Proprietário, a qualquer momento. Favor ver as informações de contato no início deste documento.

    Mudanças nesta política de privacidade
    O Proprietário se reserva o direito de fazer alterações nesta política de privacidade a qualquer momento, através de notificação a seus Usuários nesta página e possivelmente dentro deste Serviço (este Aplicativo) e/ou – na medida em que for técnica e juridicamente viável – enviando um aviso para os Usuários através de quaisquer informações de contato disponíveis para o Proprietário. É altamente recomendável checar esta página regularmente, consultando a data da última modificação informada na parte inferior.

    Caso as mudanças afetem as atividades de processamento realizadas com base na anuência do Usuário, o Proprietário coletará nova anuência do Usuário, onde for exigida.
</div>
