@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-5">POC - Asp.Net MVC Core com Typescript e Node</h1>
    <hr/>
    <p>Projeto de demonstração do uso do Asp.Net MVC Core 6.0 com Typescrpt, Node.js, Módulos NPM e Webpack.</p>
</div>
